#all {
    position: absolute;
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#map-container {
    width: 100%;
    height: 500px;
}

.left_panel {
    width: 89%;
    border-radius: 3px;
    padding: 10px;
    margin: 3px;
}

.query_panel{
    background-color: #f4f4f4;
}

.dataset_result_panel {
    background-color: #f9f9f9;
}

.dataset_result_panel.selected {
    background-color: #e2ffff;
}

.dataset_result_panel span {
    font-size: 8pt;
}

#navigation_links {
    text-align:center;
    padding: 4px;
    font-size: 16pt;
}
.navigation_number.selected {
    border-radius: 3px;
    padding: 0px 4px;
    background-color: #e2ffff;
}

#left_column {
    position: absolute;
    left: 1px;
    padding: 0px;
    width: 20%;
}
#result_panel_container {
    overflow: auto;
}

#right_column {
    margin-left: 20.1%;
    padding: 0px;
    margin-right: 0;
}
.result_panel_label {
  width:30%;
  float: left;
}
.result_panel_data {
  width: 70%;
}

.tag_list {
    margin: 0;
    list-style: none;
    padding: 10px 10px 5px 10px;j
}

.tag_list li {
  display: inline-block;
  margin-right: 5px;
}

