#all {
    position: absolute;
    position:fixed !important;
    position:absolute;
    background-color:#F1F1F1;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

a {
    color: #111177!important;
}
a:hover {
    color: #1111CC!important;
    text-decoration:none!important;
}
#mapsearch_flash {
    min-width: 30%;
    position: absolute;
    margin: auto;
    left: 30%;
    right: 30%;
    top: 10px;
    z-index: 1000;
}

#mapsearch_flash div {
    border: 1px;
    border-style: solid;
    background-color: #f4f4f4;
    text-align: center;
}

#map-container {
    width: 100%;
    height: 500px;
}

.left_panel {
    width: 89%;
    border-radius: 3px;
    padding: 2px 10px;
    margin: 3px;
}

.query_panel{
    background-color: #f4f4f4;
}

.scale_counter {
    width: 18%;
    float: left;
    display: inline-block;
}

#scale_help {
    display :block;
}

.scale_counter span {
    background-color: #DCB;
    text-align: center;
    display: inline-block;
}
.scale_counter.omitted_too_small span {
    border-radius: 1.5em;
    width: 1.3em;
    height: 1.3em;
}
.scale_counter.omitted_small span.displayed {
    background-color: #e2e9e9;
}

.scale_counter.omitted_small span {
    border-radius: 2em;
    width: 1.7em;
    height: 1.7em;
}
.scale_counter.normal_scale_count span {
    background-color: #DDDD99;
    border-radius: 3em;
    width: 2em;
    height: 2em;
}
.scale_counter.omitted_big span {
    border-radius: 4em;
    width: 3em;
    height: 3em;
}

.scale_counter.omitted_too_big span {
    border-radius: 4em;
    width: 4em;
    height: 4em;
}
.dataset_result_panel {
    background-color: #f9f9f9;
}

.dataset_result_panel.selected {
    background-color: #e2e9e9;
}

.dataset_result_panel span {
    font-size: 8pt;
}

#keyword_search_input {
    overflow-y: auto;
    width: 100%;
}

.descreet_help {
  color: #999!important;
  line-height: 1em;
  font-weight: bold;
  font-size: 10px;
}
.descreet_help small {
    font-size: 9px;
}

#filter_panel {
   width:100%;
   margin: 0px -10px;
   background-color: #f4f4f4;
}

.filter_group {
    margin: 5px 0px 0px 0px;
}

.filter_toggle {
    font-size: 8pt;
    color: black;
    padding: 1px 2px;
    margin: 1px;
    border-radius: 3px;
    background-color: #CCDDCC;
}

.filter_toggle.on {
    background-color: #AAFFAA;
}

#navigation_links {
    text-align:center;
    height: 1em;
    margin: 5px 0px 0px;;
    padding: 2px;
    font-size: 16pt;
}
.navigation_number {
    padding: 0px 3px 0px;;
}

.navigation_number.selected {
    border-radius: 3px;
    background-color: #e2e9e9;
}

#left_column {
    position: absolute;
    left: 1px;
    padding: 0px;
    width: 23%;
}
#result_panel_container {
    overflow: auto;
}

#result_panel_container article {
    line-height: 1.1em;
}
#result_panel_container article.kv {
    line-height: 0.9em;
}

#right_column {
    margin-left: 23.1%;
    padding: 0px;
    margin-right: 0;
}
.result_panel_label {
  width:30%;
  float: left;
}
.result_panel_data {
  width: 70%;
}

.tag_list {
    margin: 0;
    list-style: none;
    padding: 0px 3px;
}

.tag_list li {
  display: inline-block;
  margin-right: 5px;
}

