{# a blank template (without the central (bootstrap) area)  #}
{% extends "base.html" %}

{% block links %}
    <link href="/filas_favicon.ico" rel="icon"/>
{% endblock %}

{% block page %}
    {% block search_app %}
      <div class="module-content">
        <h1 class="page-heading">About</h1>
        <section class="module">
          <h2>{{ _('This is my content heading') }}</h2>
          <p>{{ _('This is my content') }}</p>
          <p>gassga</p>
        </section>
      </div>
    {% endblock %}
{% endblock %}
