{# a blank template (without the central (bootstrap) area)  #}
{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
{% endblock %}

{% block links %}
    <link href="/filas_favicon.ico" rel="icon"/>
{% endblock %}

{% block scripts %}
    {% resource 'bopen_js/javascripts/map_search.js' %}
    {% resource 'bopen_js/css/style.css' %}
    {% resource 'ckanext-spatial/spatial_query' %}
    {% resource 'bopen_js/javascripts/setup.js' %}
{% endblock %}

{% block page %}
    {% block search_app %}
        <div id="all">
          <div id="left_column">
             <div class="dataset_result" style="display:block">
               sdgad aslfkjas dflaskgj laskjdl aksjdhl akjsdhl aksjdgl aksjfg aslkjd lghksajglksjd 
             </div>
          </div>
          <div id="right_column">
            {% set map_config = h.get_common_map_config() %}
            <div class="dataset-map" data-module="map-search" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}">
              <div id="map-container"></div>
            </div>
          </div>
        </div>
    {% endblock %}
{% endblock %}

