{# a blank template (without the central (bootstrap) area)  #}
{% extends "base.html" %}
{% import 'macros/form.html' as form %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
{% endblock %}

{% block links %}
    <link href="/filas_favicon.ico" rel="icon"/>
{% endblock %}

{% block scripts %}
    <script>
        bop = {};
        bop.result_nav = {}
        bop.solr_url = '{{ c.solr_url }}';
        bop.query_on_load = true;
        bop.dataset_query_limit = 90;
        bop.results_per_page = 3;
        bop.max_num_of_pages = 10;
    </script>
    {% resource 'mapsearch_js/javascripts/vendor/jquery_ui_min.js' %}
    {% resource 'mapsearch_js/javascripts/mapsearch.js' %}
    {% resource 'mapsearch_js/javascripts/result_navigation.js' %}
    {% resource 'mapsearch_js/javascripts/search_results.js' %}
    {% resource 'mapsearch_js/javascripts/transport.js' %}
    {% resource 'mapsearch_js/css/style.css' %}
    {% resource 'mapsearch_js/css/jquery_ui_min.css' %}
    {% resource 'ckanext-spatial/spatial_query' %}
    {% resource 'mapsearch_js/javascripts/setup.js' %}
    {% resource 'mapsearch_js/javascripts/result_panel.js' %}
{% endblock %}

{% block page %}
    {% block search_app %}
        <div id="all">
          <div id="left_column">
            <div id="dataset-search" style="display:block"></div>
              <div class="left_panel" id="query_panel" style="display:block">
                <textarea id="keyword_search_input" rows="2" wrap="soft"></textarea>
                <button id="keyword_clear_button">clear</button>
                <br/>
                <div id="navigation_links" style="display:none;">
                  <a href="javascript:" data-dir="previous" class="navigation_arrow" id="navigation_previous"><- </a> 
                  <a href="javascript:" data-idx="1" class="navigation_number" id="nav_1" "style="display:none">1</a> 
                  <a href="javascript:" data-idx="2" class="navigation_number" id="nav_2" style="display:none">2</a> 
                  <a href="javascript:" data-idx="3" class="navigation_number" id="nav_3" style="display:none">3</a> 
                  <a href="javascript:" data-idx="4" class="navigation_number" id="nav_4" style="display:none">4</a> 
                  <a href="javascript:" data-idx="5" class="navigation_number" id="nav_5" style="display:none">5</a> 
                  <a href="javascript:" data-idx="6" class="navigation_number" id="nav_6" style="display:none">6</a> 
                  <a href="javascript:" data-idx="7" class="navigation_number" id="nav_7" style="display:none">7</a> 
                  <a href="javascript:" data-idx="8" class="navigation_number" id="nav_8" style="display:none">8</a> 
                  <a href="javascript:" data-dir="next" class="navigation_arrow" id="navigation_next">-></a>
                </div>
              </div>
              <div id="dataset-map-attribution">
              </div>
              {% snippet "snippets/result_panel.html" %}
              <div id="result_panel_container">
              </div>
          </div>
          <div id="right_column">
            {% set map_config = h.get_common_map_config() %}
            <div id='map_creator' class="dataset-map" data-module="mapsearch" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}">
              <div id="map-container"></div>
            </div>
          </div>
        </div>
    {% endblock %}
{% endblock %}

