{# a blank template (without the central (bootstrap) area)  #}
{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
{% endblock %}

{% block links %}
    <link href="/filas_favicon.ico" rel="icon"/>
{% endblock %}

{% block scripts %}
    <script>
        function MapsearchException(message) {
           this.message = message;
           this.name = "MapsearchConfigurationException";
        }
        bop = {};
        bop.result_nav = {};
        bop.filters = [];
        bop.omitted_results = {};
        // number of filterlinks to display (tags, formats, etc);
        bop.num_filters_to_display = Number({{ c.num_filters_to_display }}) || 12;
        bop.solr_url = '{{ c.solr_url }}';
        bop.query_on_load = true;
        bop.results_per_page = 8;
        bop.max_num_of_pages = 8; // do not exceed 8
        bop.max_result_display = bop.results_per_page * bop.max_num_of_pages
        bop.dataset_query_limit = false; //bop.max_result_display + 1;
        try {
            bop.initial_map_extent = {{ c.initial_map_extent }} ;
            if (bop.initial_map_extent && typeof(bop.initial_map_extent[0][0]) !== 'number') {
                throw new MapsearchException();
            }
        } catch (err) {
            var msg = "error in map-extent configuration (bop.initial_map_extent):\n";
                msg += err.message;
                msg += "\nExtent must be specified as: [[LatSW, LonSW], [LatNE, LonNE]]";
                console.log(msg);
                setTimeout(function () {bop.display_message(msg)}, 2000)
        }
        if (!bop.initial_map_extent) bop.initial_map_extent = [[36, 5], [47, 20]];
    </script>
    {% resource 'mapsearch_js/javascripts/vendor/jquery_ui_min.js' %}
    {% resource 'mapsearch_js/javascripts/mapsearch.js' %}
    {% resource 'mapsearch_js/javascripts/filters.js' %}
    {% resource 'mapsearch_js/javascripts/result_navigation.js' %}
    {% resource 'mapsearch_js/javascripts/search_results.js' %}
    {% resource 'mapsearch_js/javascripts/transport.js' %}
    {% resource 'mapsearch_js/css/style.css' %}
    {% resource 'mapsearch_js/css/jquery_ui_min.css' %}
    {% resource 'ckanext-spatial/spatial_query' %}
    {% resource 'mapsearch_js/javascripts/setup.js' %}
    {% resource 'mapsearch_js/javascripts/result_panel.js' %}
    {% resource 'mapsearch_js/javascripts/message.js' %}
{% endblock %}

{% block page %}
    {% block search_app %}
        <div id="all">
          <div class="message" id="mapsearch_flash" style="display:inline;">
            <div class="alert fade in error" id="message_prototype" style="display:none;">
            </div>
          </div>
          <div id="left_column">
            <div id="dataset-search" style="display:block"></div>
              <div class="left_panel" id="query_panel" style="display:block">
                <textarea id="keyword_search_input"
                  placeholder="search... (keyword and filters, <return> to submit)"
                          rows="2" wrap="soft"></textarea>
                <button id="keyword_clear_button">clear - reset</button>
                <button id="filter_toggler">toggle filters</button>
                <a href="javascript:" id="filter_help_opener">filter help</a>
                <br/>
                <div title="click for more info">
                  <a id="scale_hider" href="javascript:">hide stats</a>
                  <a id="scale_toggler" href="javascript:">| switch mode</a> 
                </div>
                <div id="scale_container">
                  <img id="search_spinner_prototype" style="display:none" src="/spinner.gif"/>
                  <div id="scale_help_icons">
                    <span class="scale_counter omitted_too_small" title="too small for current extent">
                      <span></span><br/>
                    </span>
                    <div class="scale_counter omitted_small"  onclick="javascript:bop.toggle_small_omitted()"
                         title="slightly smaller than current extent">
                      <span></span><br/>
                    </div>
                    <div class="scale_counter normal_scale_count" title="currently displayed">
                      <span></span><br/>
                    </div>
                    <div class="scale_counter omitted_big"
                        onclick="javascript:bop.map.zoomOut(1)"
                        title="slightly bigger than current extent">
                      <span></span><br/>
                    </div>
                    <div class="scale_counter omitted_too_big"
                          onclick="javascript:bop.map.zoomOut(3)"
                          title="too big for current extent">
                      <span></span><br/>
                    </div>
                  </div>
                  <div id="scale_help" style="display:none;">
                    <span class="omitted_too_small" title="too small for current extent">
                      <span></span> small results omitted
                    </span><br />
                    <span class="omitted_small" title="slightly smaller than current extent">
                      <span></span>  slightly smaller results available
                      <a href="javascript:" onclick="javascript:bop.toggle_small_omitted()"
                        id="omitted_small_link" title="click to show">(toggle)</a>
                    </span><br />
                    <span class="normal_scale_count" title="currently displayed">
                      <span></span> displayed results
                    </span><br />
                    <span class="omitted_big" title="slightly bigger than current extent">
                      <span></span> slightly bigger results omitted
                      <a href="javascript:" onclick="javascript:bop.map.zoomOut(1)"
                        id="omitted_big_link" title="click to zoom out">(zoom out)</a>
                    </span><br />
                    <span class="omitted_too_big" title="too big for current extent">
                      <span></span> big results omitted
                      <a href="javascript:" onclick="javascript:bop.map.zoomOut(4)"
                        id="omitted_too_big_link" title="click to zoom far out">(zoom far out)</a>
                    </span>
                  </div>
                </div>
                <div style="clear:both;"></div>
                <div class="descreet_help">result in 5 scales
                  <small>(click on small and big.)</small>
                </div>
                <div id="navigation_links" style="display:none;">
                  <a href="javascript:" data-dir="previous" class="navigation_arrow" id="navigation_previous">&lt;-</a> 
                  <a href="javascript:" data-idx="1" class="navigation_number" id="nav_1" "style="display:none">1</a> 
                  <a href="javascript:" data-idx="2" class="navigation_number" id="nav_2" style="display:none">2</a> 
                  <a href="javascript:" data-idx="3" class="navigation_number" id="nav_3" style="display:none">3</a> 
                  <a href="javascript:" data-idx="4" class="navigation_number" id="nav_4" style="display:none">4</a> 
                  <a href="javascript:" data-idx="5" class="navigation_number" id="nav_5" style="display:none">5</a> 
                  <a href="javascript:" data-idx="6" class="navigation_number" id="nav_6" style="display:none">6</a> 
                  <a href="javascript:" data-idx="7" class="navigation_number" id="nav_7" style="display:none">7</a> 
                  <a href="javascript:" data-idx="8" class="navigation_number" id="nav_8" style="display:none">8</a> 
                  <a href="javascript:" data-dir="next" class="navigation_arrow" id="navigation_next">-></a>
                </div>
                <div id="pagination_range_display" class="descreet_help">
                  showing
                  <span id="current_range_display"></span> of
                  <span id="current_total_display"></span>
                </div>
                <div id="filter_panel" class="left_panel" style="display:none;">
                  <div class="filter_group" id="organization_filter_container" title="organization filter" style="display:none;">
                    <a href="javascript:" class="filter_toggle" data-filter="" id="filter_toggle_proto" style="display:none;">org</a>
                  </div>
                  <div class="filter_group" id="groups_filter_container" title="groups filter" style="display:none;">
                  </div>
                  <div class="filter_group" id="tags_filter_container" title="tags filter">
                  </div>
                  <div class="filter_group" id="formats_filter_container" title="formats filter">
                  </div>
                  <div class="filter_group" id="license_filter_container" title="license filter">
                  </div>
                </div>
              </div>
              <div id="dataset-map-attribution">
              </div>
              {% snippet "snippets/result_panel.html" %}
              <div id="result_panel_container">
              </div>
          </div>
          <div id="right_column">
            {% set map_config = h.get_common_map_config() %}
            <div id='map_creator' class="dataset-map" data-module="mapsearch" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}">
              <div id="map-container"></div>
            </div>
          </div>
          {% snippet "snippets/filter_help.html" %}
        </div>
    {% endblock %}
{% endblock %}

