{# a blank template (without the central (bootstrap) area)  #}
{% extends "base.html" %}
{% import 'macros/form.html' as form %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
{% endblock %}

{% block links %}
    <link href="/filas_favicon.ico" rel="icon"/>
{% endblock %}

{% block scripts %}
    <script>
        bop = {};
        bop.solr_url = '{{ c.solr_url }}';
    </script>
    {% resource 'mapsearch_js/javascripts/vendor/jquery_ui_min.js' %}
    {% resource 'mapsearch_js/javascripts/mapsearch.js' %}
    {% resource 'mapsearch_js/javascripts/search_results.js' %}
    {% resource 'mapsearch_js/javascripts/transport.js' %}
    {% resource 'mapsearch_js/css/style.css' %}
    {% resource 'mapsearch_js/css/jquery_ui_min.css' %}
    {% resource 'ckanext-spatial/spatial_query' %}
    {% resource 'mapsearch_js/javascripts/setup.js' %}
    {% resource 'mapsearch_js/javascripts/result_panel.js' %}
{% endblock %}

{% block page %}
    {% block search_app %}
        <div id="all">
          <div id="left_column">
            <div id="dataset-search" style="display:block"></div>
              <div class="left_panel" id="query_panel" style="display:block">
                <input id="keyword_search_input" type="text"/>
                <button id="keyword_clear_button">clear</button>
              </div>
              <div id="dataset-map-attribution">
              </div>
              {% snippet "snippets/result_panel.html" %}
              <div id="result_panel_container">
              </div>
          </div>
          <div id="right_column">
            {% set map_config = h.get_common_map_config() %}
            <div id='map_creator' class="dataset-map" data-module="mapsearch" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}">
              <div id="map-container"></div>
            </div>
          </div>
        </div>
    {% endblock %}
{% endblock %}

